* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  margin-top: 400px;
}

.box1,
.box2,
.box3 {
  width: 350px;
  height: 450px;
  border: 1px solid black;
  background-color: white;
  float: left;
  margin: 19px;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 400px;
}

.fakeImg {
  height: 150px;
  display: block;
  margin: auto;
  padding-top: 20px;
  border-radius: 50%;
}

.details {
  margin: 30px;
  text-align: center;
  font-size: 25px;
}
